* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: 8px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  position: initial;
  padding: 30px 0;
  z-index: 99;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--nav a {
  margin: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  transition: 1s;
}
#header .header--nav a:hover {
  font-weight: 700;
  color: black;
}
#header .header--nav__feltbtn {
  background: transparent;
  padding: 10px 30px;
  border: 1px solid gold;
  font-weight: 500;
  font-size: 15px;
  color: #FB8F1D;
  mix-blend-mode: normal;
  margin: 0 0 0 10px;
  transition: 1s;
}
#header .header--nav__feltbtn:hover {
  background: rgba(0, 0, 0, 0.96);
  color: #f5f1f1;
  transform: scale(1.1);
}
#header .header--nav__raighttbtn {
  background: transparent;
  padding: 10px 30px;
  border: 1px solid gold;
  font-weight: 500;
  font-size: 15px;
  color: #FB8F1D;
  mix-blend-mode: normal;
  margin: 0 10px;
  color: white;
  padding: 12px 25px;
  background: #FB8F1D;
  transition: 1s;
}
#header .header--nav__raighttbtn:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

#hero {
  padding: 40px 0;
}
#hero .hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#hero .hero--img {
  position: absolute;
  right: 579px;
  bottom: -14px;
}
#hero .hero--img1 {
  position: absolute;
  right: 761px;
  bottom: 426px;
}
#hero .hero--img2 {
  position: absolute;
  right: 1357px;
  bottom: 222px;
}
#hero .hero--nov button {
  background: goldenrod;
  padding: 14px 33px;
  border: 1px solid gold;
  font-weight: 500;
  font-size: 15px;
  color: white;
  transition: 1s;
  transition: 0.3s;
}
#hero .hero--nov button:hover {
  transform: scale(1.1);
  border-bottom: 2px solid blue;
}
#hero .hero--nov button:hover {
  color: black;
  background: darkblue;
  transform: rotate(10deg);
}
#hero .hero--nov h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}
#hero .hero--nov h4 {
  padding: 20px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
}
#hero .hero--nov__lina {
  margin-bottom: 50px;
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
}
#hero .hero--nov__input {
  width: 500px;
}
#hero .hero--nov__input select {
  margin: 0 20px 20px 0;
  padding: 10px;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  color: #4A4C53;
  width: 220px;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
}

#new .new {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#new .new--taitle button {
  background: goldenrod;
  padding: 14px 33px;
  border: 1px solid gold;
  font-weight: 500;
  font-size: 15px;
  color: white;
  transition: 1s;
}
#new .new--taitle button:hover {
  transform: scale(1.1);
  border-bottom: 2px solid blue;
}
#new .new--taitle h1 {
  padding: 18px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: black;
}
#new .new--taitle p {
  padding: 10px 0 10px 0;
  width: 300px;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
}

#net .new {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#net .new--taitle button {
  background: goldenrod;
  padding: 14px 33px;
  border: 1px solid gold;
  font-weight: 500;
  font-size: 15px;
  color: white;
  transition: 1s;
}
#net .new--taitle button:hover {
  transform: scale(1.1);
  border-bottom: 2px solid blue;
}
#net .new--taitle h1 {
  padding: 18px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: black;
}
#net .new--taitle p {
  padding: 10px 0 10px 0;
  width: 300px;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
}

#swipet {
  padding: 80px 0;
}
#swipet .swipet2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#swipet .swipet2 h1 {
  line-height: 30px;
  font-size: 36px;
  color: black;
  font-weight: 900;
}
#swipet .swipet2 a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FB8F1D;
}
#swipet .swipet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#swipet .swipet--nov {
  position: relative;
}
#swipet .swipet--nov__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 120px;
  height: 56px;
  left: 0;
  top: 296px;
  background: #FFFFFF;
  border-radius: 0 10px 0 0;
}
#swipet .swipet--nov__nav h1 {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: black;
}
#swipet .swipet--nov__nav p {
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  color: grey;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 600px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fly {
  padding: 190px 0;
}
#fly .fly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#fly .fly--nav h1 {
  padding: 40px 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}
#fly .fly--nav__icon {
  font-size: 30px;
  padding: 30px;
}
#fly .fly--nav p {
  width: 400px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
#fly .fly--nav h3 {
  padding: 30px 5px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
}
#fly .fly--nav h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.85);
}
#fly .fly--face {
  position: relative;
}
#fly .fly--face__men {
  bottom: 1px;
  position: absolute;
  margin-top: -6px;
  margin-left: 253px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 132px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 16px 0 0 0;
}
#fly .fly--face__men--fat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  border: 2px solid rgba(0, 0, 0, 0.45);
  border-radius: 50px;
}
#fly .fly--face__men--fat a {
  color: #000000;
}
#fly .fly--face__men--fes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.96);
  transform: rotate(-180deg);
}
#fly .fly--face__men--fes a {
  transform: rotate(-180deg);
  color: #000000;
}
#fly .fly--face__img--start1 {
  position: absolute;
  left: -11px;
  bottom: -3px;
}
#fly .fly--face__img--start1 img {
  width: 40px;
  height: 40px;
}
#fly .fly--face__img--start2 {
  z-index: -1;
  position: absolute;
  left: 373px;
  bottom: 482px;
}
#fly .fly--face__img--start2 img {
  width: 40px;
  height: 40px;
}
#fly--face {
  background: red;
}
#fly--face__men {
  width: 132px;
  height: 60px;
  background: #998533;
  border-radius: 16px 0 0 0;
}

#still .still2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#still .still2 h1 {
  line-height: 30px;
  font-size: 36px;
  color: black;
  font-weight: 900;
}
#still .still2 a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FB8F1D;
}
#still .still {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#still .still--nav {
  margin: 30px 0px;
}
#still .still--nav h1 {
  padding: 10px 0 15px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}
#still .still--nav p {
  margin: 10px 0;
  width: 266px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
}
#still .still--nav a {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
}
#still .still--nav a:hover {
  color: #00ff15;
  transform: scale(1.1);
}

#footer {
  padding: 100px 0 0 0;
}
#footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer--center h3 {
  padding: 20px 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}
#footer .footer--center p {
  padding: 60px 0 0 0;
  width: 380px;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
#footer .footer--end h1 {
  padding: 10px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}
#footer .footer--end h1:hover {
  color: red;
  transform: scale(1);
}
#footer .footer--end p {
  padding: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
#footer .footer--end p:hover {
  color: #00ff15;
  transform: scale(1.1);
}
#footer hr {
  margin: 0 0 20px 0;
}
#footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .icons a {
  color: #848484;
  padding: 25px;
  font-size: 40px;
}
#footer .icons a:hover {
  color: #0015ff;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
