@media (max-width: 1440px) {
  .container{
    width: 90%;
  }


}
@media (max-width: 1024px) {
  #hero{
    .hero{
      flex-direction: column;
    }
  }
  }

@media (max-width: 768px) {
  #swipet{
    padding: 0 0 50px 0;
  }
  #new{
    .new{
      flex-direction: column-reverse;

    }
  }
  #net{
    .new{
      flex-direction: column;
    }
  }
  #fly{
    padding: 83px 0;
    .fly{

      flex-direction: column;
    }
  }
  #still{
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  #header{
    .header{
      &--nav{
        a{
          display: none;
        }
      }
    }
  }
  #hero{
    .hero{
      img{
        width: 90%;
      }
      &--nov{
        button{
          margin: 29px 42px 22px;

        }
        h1{
          font-size: 44px;
        }
        &__input{
          width: 200px;
        }
      }
    }
  }
  #still{
    .still2{
      justify-content: space-around;
      flex-direction: column;
    }
  }
  #new{
    .new{
      &--taitle{
        button{
          margin: 29px 56px 22px;

        }

      }
      img{
        width: 90%;
      }

    }

  }
  #swipet{
    .swipet2{
      margin: 20px 0 0 0;
      justify-content: space-around;
      flex-direction: column;
    }

  }
  #fly{
    .fly{
      &--nav{
        p{
          width: 285px;
          font-weight: 400;
          font-size: 19px;
        }
      }
      &--face{
        img{
          width: 90%;
        }
        &__men{
          left: -59px;

        }
      }

    }
  }
  #net{
    .new{
      button{
        margin: 29px 57px 22px;

      }

      img{
        width: 90%;
      }

    }
  }
  #footer{
    .footer{
      flex-flow: wrap;

    }
  }
}
@media (max-width: 451px) {
}
@media (max-width: 400px) {
}
@media (max-width: 376px) {
  #fly{
    .fly{
      &--nav{
        p{
          width: 285px;
          font-weight: 400;
          font-size: 19px;
        }

      }
    }
  }
  #footer{
    .footer{
      &--center{
        p{
          padding: 60px 0 0 0;
          width: 330px;
          font-weight: 300;
          font-size: 23px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #footer{
    padding: 2px 0;
    .icons{
      flex-flow: wrap;
      a{
       font-size: 30px;
      }
    }
    .footer{
      &--end{
        h1{
          font-size: 15px;

        }
      }
      &--center{
        img{
          margin-left: 97px;
        }
        p{
          padding: 17px 0 0 0;

          width: 225px;

        }
      }
    }
  }
  #swipet{
    .swipet2{
      h1{
        font-size: 30px;

      }
    }
  }
  #still{
    .still2{
      h1{
        font-size: 30px;

      }
    }
  }
  #net{
    .new{
      &--taitle{
        h1{
          font-size: 26px;

        }
      }
      img{
        width: 103%;
        margin-top: 36px;
      }
    }
  }
  #fly{
    .fly{
      &--face{
        &__men{
          left: -111px;

        }
      }
    }
  }
}